[package]
name = "tauri-store"
description = "Persistent stores for Tauri"
version = "0.3.0"
documentation = "https://docs.rs/tauri-store"
homepage = "https://tb.dev.br/tauri-store"
repository = "https://github.com/ferreira-tb/tauri-store"
authors = ["Andrew Ferreira <andrew.shien2@gmail.com>"]
license = "MIT"
readme = "../../README.md"
keywords = ["plugin", "tauri", "tauri-plugin", "store"]

[package.edition]
workspace = true

[package.rust-version]
workspace = true

[package.metadata.docs.rs]
no-default-features = true
features = ["unstable-async"]
rustc-args = ["--cfg", "docsrs"]
rustdoc-args = ["--cfg", "docsrs"]

[lints]
workspace = true

[dependencies]
serde = "1.0"
serde_json = "1.0"
tauri = "2.0"
thiserror = "1.0"

[dependencies.ahash]
version = "0.8"
optional = true

[dependencies.tauri-store-macros]
version = "0.3"
optional = true
path = "../tauri-store-macros"

[dependencies.tokio]
version = "1.39"
optional = true
default-features = false
features = ["fs", "io-util", "time"]

[build-dependencies.tauri-plugin]
version = "2.0"
features = ["build"]

[features]
derive = ["dep:tauri-store-macros"]
unstable-async = ["dep:tokio"]
ahash = ["dep:ahash", "ahash/serde"]
