*.html linguist-detectable=false
*.css linguist-detectable=false
*.js linguist-detectable=false
*.cjs linguist-detectable=false
*.mjs linguist-detectable=false
*.vue linguist-detectable=false
*.svelte linguist-detectable=false