[workspace]
members = [
  "crates/*",
  "examples/pinia/src-tauri",
  "examples/pinia-nuxt/src-tauri",
  "examples/shared/rust",
  "examples/svelte/src-tauri",
]
resolver = "2"

[workspace.package]
edition = "2021"
rust-version = "1.77.2"

[workspace.lints.rust.unexpected_cfgs]
level = "warn"
check-cfg = ['cfg(tauri_store_tracing)']

[workspace.lints.clippy]
clone_on_ref_ptr = "deny"
filetype_is_file = "deny"
map_unwrap_or = "allow"
missing_errors_doc = "allow"
missing_panics_doc = "allow"
module_name_repetitions = "allow"
must_use_candidate = "allow"
rc_buffer = "deny"
rc_mutex = "deny"
rest_pat_in_fully_bound_structs = "deny"

[workspace.lints.clippy.pedantic]
level = "deny"
priority = -1
